<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
<div th:replace="layout/layout :: estilos"></div>
 
</head>
<body>
	<div class="box">
		<div th:replace="layout/layout :: header" ></div>


		<style>
			.contenedor-tarjetas{
				text-align: center;
			}
			.tarjeta-pelicula{
				margin: 8px;
				width: 320px;
				border: 1px solid lightgray;
				border-radius: 18px;
				overflow: hidden;
				display: inline-block;
			}
			.img-card-top{
				height: 360px;
				width: 100%;
				object-fit: cover;
			}
			.card-title{
				font-weight: bold;
				font-size:18px;
				text-align: center;
			}
			.col-genero{
				text-align: left;
			}
			.col-reparto{
				text-align: left;
			}

			
		</style>
		<div class="uabc-content" style=" padding-left: 3%; padding-right: 3%;">


			<div class="contenedor-tarjetas">

				<div class="d-container" id="gridContainer">
					<div class="d-flex flex-wrap" id="mosaicoPeliculas" style="justify-content: center;">
						

					</div>
				</div>

				<nav aria-label="Pagination">
					<div class="pagination justify-content-center dataTables_wrapper" id="paginationContainer">

					</div>
				</nav>
			</div>

			<!-- <div >
				<p  th:each="film: ${films}" th:text=${film.title} ></p>
				
			</div> -->

			

		
	</div>
	<div th:replace="layout/layout :: footer"></div>
	<div th:replace="layout/layout :: scripts"></div>
	<script th:src="@{assets/js/landing.js}"></script>
</div>
</body>
</html>